
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div
			class="navbar-wrapper  ">
			<div class="navbar-content scroll-div "
				>
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
								class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>more analytics</label>
					</li>
					<li class="nav-item">
						<a href="/index1.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-box"></i></span><span class="pcoded-mtext">Explore NFTs</span></a>
					</li>
					<li class="nav-item">
						<a href="/search.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-search"></i></span><span class="pcoded-mtext">Search By Address</span></a>
					</li>
					<li class="nav-item">
						<a href="/nft_articles.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-globe"></i></span><span class="pcoded-mtext">NFT Articles</span></a>
					</li>
					<li class="nav-item">
						<a href="/whale_watcher.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">&#128011 Whale Watching</span></a>
					</li>
					<li class="nav-item">
						<a href="/cognos_frame.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Cognos Embedding</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
								class="pcoded-mtext">Authentication</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/auth-signup.html" target="_blank">Sign up</a></li>
							<li><a href="/auth-signin.html" target="_blank">Sign in</a></li>
						</ul>
					</li>
				</ul>
						
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
    