<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore NFTs</title>
    <link rel = "stylesheet" href = "/static/assets/css/main1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class = "main-wrapper">
        <div class = "app">
            <!-- app header -->
            <div class = "app-header">
                <h2 class = "app-header-title">Explore<span>NFTs.</span></h2>
                <form class = "app-header-search">
                    <input type = "text" class = "form-control" placeholder="Search your superhero here ..." name = "search">
                    <button type = "submit" class = "search-btn">
                        <i class = "fas fa-search"></i>
                    </button>
                    <!-- <div class = "search-list" id = "search-list">
                        <div class = "search-list-item">
                        </div>
                    </div> -->
                </form>
            </div>
            <!-- end of app header -->

            <div class = "app-body">
                <div class = "app-body-content">
                    <!-- app body thumbnail -->
                    <div class = "app-body-content-thumbnail">
                        <img src = "/static/assets/images/reference_thumbnail.jpg">
                    </div>
                    <!-- end of app body thumbnail -->
                    
                    <div class = "app-body-content-list">
                        <div class = "name" id="result">BEEPLE - THE 5000 DAYS COLLECTION</div>

                        <!-- tabs head -->
                        <div class = "app-body-tabs-head">
                            <button type = "button" class = "tab-head-single" data-id = "1">
                                <span>profile</span>
                            </button>
                            <button type = "button" class = "tab-head-single" data-id = "2">
                                <span>market overview</span>
                            </button>
                            <button type = "button" class = "tab-head-single" data-id = "3">
                                <span>stats</span>
                            </button>
                            <button type = "button" class = "tab-head-single" data-id = "4">
                                <span>gallery</span>
                            </button>
                            <button type = "button" class = "tab-head-single" data-id = "5">
                                <span>social</span>
                            </button>
                        </div>
                        <!-- end of tabs head -->

                        <!-- tabs body -->
                        <div class = "app-body-tabs-body">
                            <!-- connections -->
                            <ul class = "tab-body-single connections">
                                <li>
                                    <span>BEEPLE - THE 5000 DAYS COLLECTION</span>
                                    <span>Everydays: the First 5000 Days is a digital work of art created by Mike Winkelmann, known professionally as Beeple. The work is a collage of 5000 digital images created by Winkelmann for his Everydays series. </span>
                                </li>
                                <li>
                                    <span>Most Expensible NFT </span>
                                    <span>Beeple’s artwork is so high-tier and highly respected within the community, and this piece is essentially a collage of 5000 pieces of his work.It was sold for <b>$69 Million dollars</b>.<br> Starting from 2007, he pledged to create one piece of art every day, and this is the result. Needless to say, it was worth the effort.</span>
                                </li>
                            </ul>
                            <!-- end of connections -->


                            <!-- appearance -->
                            <ul class = "tab-body-single appearance">
                                <li>
                                    <span>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                    </span>
                                </li>
                            </ul>
                            <!-- end of appearance -->

                            <!-- biography tab -->
                            <ul class = "tab-body-single biography">
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                            </ul>
                            <!-- end of biography tab -->
                            <ul class = "tab-body-single galleryx">
                            </ul>

                            <!-- powerstats tab -->
                            <ul class = "tab-body-single powerstats">
                                <li>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                        </svg>
                                        <span>Telegram</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </div>
                                </li>
                            </ul>
                            <!-- end of powerstats tab -->



                            
                        </div>
                        <!-- end of tabs body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src = "/static/assets/js/pages/app.js"></script>
</body>
</html>



