{% extends "layouts/base.html" %}

{% block title %} Sample page {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="col-sm-6">
            <div class="card">

                <div class="card-header text-center">
                    <h3>&#128011 Whale Watching </h3>
                </div>
                
            </div>
        </div>
        <p>NFT Whale Watch tracks the non-fungible tokens (NFTs) purchased or minted by the largest NFT asset holders on the Ethereum blockchain.<br> <b>‘Whale’</b> is a term for individuals or entities that hold large amounts of crypto-related assets.</p>
        <p>These are the collections that most <b>Whales</b> bought or sold NFTs from over the selected time range.</p>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <!-- <i class="fab fa-twitter text-c-green d-block f-40"></i> -->
                        <img src="https://i.seadn.io/gae/BdxvLseXcfl57BiuQcQYdJ64v-aI8din7WPk0Pgo3qQFhAUH-B6i-dCqqc_mCkRIzULmwzwecnohLhrcH8A9mpWIZqA7ygc52Sr81hE?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale5.html" class="btn btn-success btn-sm btn-round"><h6>Cryptopunks</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card" >
                    <div class="card-body text-center" style="overflow: hidden;">
                        <img src="https://i.seadn.io/gae/yIm-M5-BpSDdTEIJRt5D6xphizhIdozXjqSITgK4phWq7MmAU3qE7Nw7POGCiPGyhtJ3ZFP8iJ29TFl-RLcGBWX5qI4-ZcnCPcsY4zI?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale4.html" class="btn btn-success btn-sm btn-round"><h6>OtherDeed for Otherside</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                       <img src="https://i.seadn.io/gae/H8jOCJuQokNqGBpkBN5wk1oZwO7LM8bNnrHCaekV2nKjnCqw6UB5oaH8XyNeBDj6bA_n1mjejzhFQUP3O1NfjFLHr3FOaeHcTOOT?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale3.html" class="btn btn-success btn-sm btn-round"><h6>Azuki</h6></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <!-- <i class="fab fa-twitter text-c-green d-block f-40"></i> -->
                        <img src="https://i.seadn.io/gae/Ju9CkWtV-1Okvf45wo8UctR-M9He2PjILP0oOvxE89AyiPPGtrR3gysu1Zgy0hjd2xKIgjJJtWIc0ybj4Vd7wv8t3pxDGHoJBzDB?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale2.html" class="btn btn-success btn-sm btn-round"><h6>Bored Ape Yacht Club</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="https://i.seadn.io/gcs/files/f3b11e36be14a5d31c75b19d03996fed.gif?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale1.html" class="btn btn-success btn-sm btn-round"><h6>Renga</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="https://i.seadn.io/gae/XN0XuD8Uh3jyRWNtPTFeXJg_ht8m5ofDx6aHklOiy4amhFuWUa0JaR6It49AH8tlnYS386Q0TW_-Lmedn0UET_ko1a3CbJGeu5iHMg?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale6.html" class="btn btn-success btn-sm btn-round"><h6>CloneX</h6></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <!-- <i class="fab fa-twitter text-c-green d-block f-40"></i> -->
                        <img src="https://i.seadn.io/gcs/files/e83060afb04e12a354d1de52ca8e2d3c.gif?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale7.html" class="btn btn-success btn-sm btn-round"><h6>Kitaro World</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="https://i.seadn.io/gae/7B0qai02OdHA8P_EOVK672qUliyjQdQDGNrACxs7WnTgZAkJa_wWURnIFKeOh5VTf8cfTqW3wQpozGedaC9mteKphEOtztls02RlWQ?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale8.html" class="btn btn-success btn-sm btn-round"><h6>Doodles</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                       <img src="https://i.seadn.io/gae/LIov33kogXOK4XZd2ESj29sqm_Hww5JSdO7AFn5wjt8xgnJJ0UpNV9yITqxra3s_LMEW1AnnrgOVB_hDpjJRA1uF4skI5Sdi_9rULi8?w=500&auto=format" alt="" style="width:360px;height:360px;border-radius: 10px;">
                        <a href="/whale9.html" class="btn btn-success btn-sm btn-round"><h6>Cool Cats</h6></a >
                    </div>
                </div>
            </div>
        </div>
	<!-- [ Main Content ] end -->
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

    <script src="/static/assets/js/pages/app.js"></script>

{% endblock javascripts %}
